---
import { Icon } from 'astro-icon/components';
---

<header class="mb-xl">
  <div class='brand'>
    <Icon name='Brand' size='8rem' />
    <span>Productions </span>
  </div>
  <div>
    <Icon name='qr-code' size='8rem' />
  </div>
</header>

<style>
  header {
    min-height: 20svh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .brand {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
  }
  .brand span {
    font-size: 1.2rem;
    font-weight: bold;
  }
</style>
