---
const { siteTitle } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{siteTitle}</title>
    <!-- Mail -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=mail" />

    <!-- Inter font -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <main class='content-grid'>
      <slot />
    </main>
  </body>
</html>
<style is:global>
 

  html,
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
  }
  /* css reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* colours */
    --clr-white: #efeee7;
    --clr-black: #0b0c10;
    --clr-accent-1: #465932;
    --clr-accent-2: #994505;
    --clr-accent-3: #f2b705;
    --clr-accent-4: #0b2832;

    /* spacing */
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 4rem;
  }

  /* ------------------ layout ------------------ */
  .content-grid {
    --padding-inline: 2rem;
    --content-max-width: 960px;
    --breakout-max-width: 1600px;

    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }
  .content-grid > .breakout {
    grid-column: breakout;
  }
  .content-grid > .full-width {
    grid-column: full-width;
  }

  /* ------------------ spacing ----------------- */

  /* margin */
  .mt-xxs {
    margin-top: var(--spacing-xxs);
  }
  .mt-xs {
    margin-top: var(--spacing-xs);
  }
  .mt-sm {
    margin-top: var(--spacing-sm);
  }
  .mt-md {
    margin-top: var(--spacing-md);
  }
  .mt-lg {
    margin-top: var(--spacing-lg);
  }
  .mt-xl {
    margin-top: var(--spacing-xl);
  }
  .mt-xxl {
    margin-top: var(--spacing-xxl);
  }

  .ms-xxs {
    margin-left: var(--spacing-xxs);
  }
  .ms-xs {
    margin-left: var(--spacing-xs);
  }
  .ms-sm {
    margin-left: var(--spacing-sm);
  }
  .ms-md {
    margin-left: var(--spacing-md);
  }
  .ms-lg {
    margin-left: var(--spacing-lg);
  }
  .ms-xl {
    margin-left: var(--spacing-xl);
  }
  .ms-xxl {
    margin-left: var(--spacing-xxl);
  }

  .me-xxs {
    margin-right: var(--spacing-xxs);
  }
  .me-xs {
    margin-right: var(--spacing-xs);
  }
  .me-sm {
    margin-right: var(--spacing-sm);
  }
  .me-md {
    margin-right: var(--spacing-md);
  }
  .me-lg {
    margin-right: var(--spacing-lg);
  }
  .me-xl {
    margin-right: var(--spacing-xl);
  }
  .me-xxl {
    margin-right: var(--spacing-xxl);
  }
  .mb-xxs {
    margin-bottom: var(--spacing-xxs);
  }
  .mb-xs {
    margin-bottom: var(--spacing-xs);
  }
  .mb-sm {
    margin-bottom: var(--spacing-sm);
  }
  .mb-md {
    margin-bottom: var(--spacing-md);
  }
  .mb-lg {
    margin-bottom: var(--spacing-lg);
  }
  .mb-xl {
    margin-bottom: var(--spacing-xl);
  }
  .mb-xxl {
    margin-bottom: var(--spacing-xxl);
  }

  /* padding */
  .pt-xxs {
    padding-top: var(--spacing-xxs);
  }
  .pt-xs {
    padding-top: var(--spacing-xs);
  }
  .pt-sm {
    padding-top: var(--spacing-sm);
  }
  .pt-md {
    padding-top: var(--spacing-md);
  }
  .pt-lg {
    padding-top: var(--spacing-lg);
  }
  .pt-xl {
    padding-top: var(--spacing-xl);
  }
  .pt-xxl {
    padding-top: var(--spacing-xxl);
  }

  .ps-xxs {
    padding-left: var(--spacing-xxs);
  }
  .ps-xs {
    padding-left: var(--spacing-xs);
  }
  .ps-sm {
    padding-left: var(--spacing-sm);
  }
  .ps-md {
    padding-left: var(--spacing-md);
  }
  .ps-lg {
    padding-left: var(--spacing-lg);
  }
  .ps-xl {
    padding-left: var(--spacing-xl);
  }
  .ps-xxl {
    padding-left: var(--spacing-xxl);
  }

  .pe-xxs {
    padding-right: var(--spacing-xxs);
  }
  .pe-xs {
    padding-right: var(--spacing-xs);
  }
  .pe-sm {
    padding-right: var(--spacing-sm);
  }
  .pe-md {
    padding-right: var(--spacing-md);
  }
  .pe-lg {
    padding-right: var(--spacing-lg);
  }
  .pe-xl {
    padding-right: var(--spacing-xl);
  }
  .pe-xxl {
    padding-right: var(--spacing-xxl);
  }

  .pb-xxs {
    padding-bottom: var(--spacing-xxs);
  }
  .pb-xs {
    padding-bottom: var(--spacing-xs);
  }
  .pb-sm {
    padding-bottom: var(--spacing-sm);
  }
  .pb-md {
    padding-bottom: var(--spacing-md);
  }
  .pb-lg {
    padding-bottom: var(--spacing-lg);
  }
  .pb-xl {
    padding-bottom: var(--spacing-xl);
  }
  .pb-xxl {
    padding-bottom: var(--spacing-xxl);
  }

  /* --------------- background --------------- */
  html {
    background-color: var(--clr-white);
  }

  /* special */
  .Hayoung img {
    object-position: top !important;
  }
</style>
